<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercedes-Benz</title>

    <link rel="icon" type="image/png"
        href="https://assets.oneweb.mercedes-benz.com/global/1.9.0/favicon/favicon-32x32.png" sizes="32x32">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="../css/car.css">

    <!-- icon fontawesome -->
    <script src="https://kit.fontawesome.com/a1aabf7538.js" crossorigin="anonymous"></script>

    <!-- DataTables link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        table.dataTable {
            border-collapse: collapse !important;
        }
    </style>

</head>

<body>
    <!--  -->
    <div class="container-fluid header-web">
        <a href="/">
            <img class="img-logo"
                src="https://www.mercedes-amg.com/etc/clientlibs/amg/amg.base/assets/images/svg/amg-logo.svg"
                alt="Logo">
        </a>
    </div>


    <div class="body-web">
        <div class="menuVertical vertical-menu">
            <div class="py-4 px-3 bg-light">
                <div class="media d-flex align-items-center">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..."
                        width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    <div class="media-body">
                        <h4 class="m-0">MercedesBenz</h4>
                        <p class="font-weight-light text-muted mb-0"> Business Manager</p>
                    </div>
                </div>
            </div>


            <ul class="nav flex-column">

                <div class="classHome">
                    <i class="fab fa-themeco"></i>
                    <p class=" active-column " href="#">Home</p>
                </div>
                <li class="nav-item">
                    <i class="fas fa-car icon-blue"></i>
                    <a class="nav-link" href="/car">Car</a>
                </li>
                <div class="classHome">
                    <i class="fas fa-users "></i>
                    <p class=" active-column " href="#">Clients</p>
                </div>

                <li class="nav-item">
                    <i class="fas fa-user-tie icon-blue"></i>
                    <a class="nav-link" href="/user">User</a>
                </li>

            </ul>

        </div>

        <div class="contents">
            <div class="contents-title">
                <h2>Car Products</h2>
                <div class="button-add" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    <!-- <a href="/uploadCar"> -->
                    Add Products
                    <!-- </a> -->

                </div>
            </div>
            <!-- data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" -->
            <!-- <div class="information">
                <div class="textTitle">Car Name</div>
                <div class="textTitle">Car Price</div>
                <div class="textTitle">Vehicle information</div>
                <div class="textTitle">Delete</div>
                <div class="textTitle">Update</div>

            </div> -->

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Car Images</th>
                        <th>Car Name</th>
                        <th>Car Price</th>
                        <th>Vehicle information</th>
                        <th> </th>
                        <th> </th>
                        <!-- <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th> -->

                    </tr>
                </thead>
                <tbody>
                    <% list.forEach(function(car){ %>
                    <tr>
                        <td style="width: 20%;">
                            <img src="../uploads/<%= car.imagesCar %>" alt=""  style="width: 100%; height: 8rem;"  > 
                         </td>
                        <td><%= car.nameCar %></td>
                        <td><%= car.priceCar %></td>
                        <td><%= car.inforCar %></td>
                        <td>
                            <span class="table-edit"></span>
                            <button type="button" style="width: 5rem; "
                                class="btn btn-primary btn-rounded btn-sm my-0 "
                                onclick="location.href='/editCar/<%= car._id %>'"
                                >Edit</button>
                            </span>
                        </td>
                        <td>
                            <span class="table-remove">
                                <button type="button" style="width: 5rem; "
                                onclick="location.href='/deleteCar/<%= car._id %>'"
                                    class="btn btn-danger btn-rounded btn-sm my-0 ">Remove</button>
                            </span>
                        </td>

                    </tr>

                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <th> </th>
                        <th>Car Name</th>
                        <th>Car Price</th>
                        <th>Vehicle information</th>
                        <th> </th>
                        <th> </th>
                        <!-- <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th> -->
                    </tr>
                </tfoot>
            </table>



        </div>


    </div>

    <!-- display modal add information -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Car Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/uploadCar" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Car Name:</label>
                            <input type="text" class="form-control" id="recipient-name" name="nameCar">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Car Price:</label>
                            <input type="text" class="form-control" id="recipient-name" name="priceCar">
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Vehicle information:</label>
                            <textarea class="form-control" id="message-text" name="inforCar"></textarea>
                        </div>

                        <input type="file" name="myImageCar" accept="image/*">


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Add Car</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>




</body>


<!-- link script -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

<!-- DataTables script -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/javascript/table.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    var oTable = $('#example').dataTable({
        "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [4, 5]
            },

        ]
    });
</script>



</html>